* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(78, 115, 223);
  color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  height: 550px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}

.right-panel {
  background: #fff;
  padding: 40px;
  display: flex;
  align-content: center;
  justify-content: center;
  color: #333;
  flex-direction: column;
}

form label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
  font-size: larger;
  align-content: center;
}

form input[type="text"],
form input[type="email"] {
  width: 20rem;
  padding: 10px;
  border-radius: 1rem;
  font-size: larger;
  border: 1px solid #ccc;
}

.submit {
  background: linear-gradient(to right, #a32cc4, #ff4081);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s;
  margin-left: 30%;
  margin-top: 20px;
}

.submit:hover {
  background: linear-gradient(to right, #ff4081, #a32cc4);
}

/* CSS */
form input[type="text"],
form input[type="email"] {
  width: 20rem;
  padding: 10px;
  border-radius: 1rem;
  font-size: larger;
  border: 1px solid #ccc;
}
